# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Output directories
output/
logs/
data/
flask/static/report_finlab

# Configuration files
config.json
*.p12
*.ini
*.env
*.yaml

# User-specific files
user_ids.json

# Environment and setup files
env_setup.py
*.sh