# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Output directories
output/
report_finlab/
logs/
*.db

# Configuration files
/config
config.yaml

# Environment and setup files
*.sh
.venv/