# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Output directories
output/
log/

# Configuration files
config.json
*.p12
*.ini
*.env

# User-specific files
user_ids.json

# Environment and setup files
env_setup.py
*.sh