#!/bin/bash

echo "Activating miniconda environment 'stock-analysis'..."
source /opt/miniconda3/etc/profile.d/conda.sh
conda activate stock-analysis

# 切換專案根目錄
cd /home/test/stock-analysis

# 獲取當前時間
current_time=$(date +"%H%M")
echo "Current time: $current_time"
# 設置 extra_bid_pct 參數
if [ "$current_time" -eq "0930" ]; then
    EXTRA_BID_PCT=0
elif [ "$current_time" -eq "1300" ]; then
    EXTRA_BID_PCT=0.01
else
    EXTRA_BID_PCT=0
fi
echo "Extra bid percentage: $EXTRA_BID_PCT"

# 執行 Python 腳本
echo "Running Python script 'order.py'..."
python order.py --extra_bid_pct $EXTRA_BID_PCT

# 退出 miniconda 環境
echo "Deactivating conda environment..."
conda deactivate

echo "Script execution completed."

