{
    "LineBot": {
        "ChannelAccessToken": "YOUR_ChannelAccessToken",
        "ChannelSecret": "YOUR_ChannelSecret",
        "DevUserIds": [
            ""
        ],
        "AllUserIds": [
            "YOR_UserId",
            "OR other people's UserId who want to subscribe to this linebot"
        ]
    }
}