[Core]
Entry = https://fugletradingapi-simulation.esunsec.com.tw/api/v1
Environment = SIMULATION
[Cert]
Path = ;Your Cert File Path Ex: config/cert.p12
[Api]
Key = ; Your Key
Secret = ; Your Secret
[User]
Account = ;Your E.SUN Securities Account ID

# This file can be obtained directly through 玉山交易 API 金鑰網站 