<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Report</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Final Report - {{ formatted_datetime }}</h1>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="reportTabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="portfolio-tab" data-toggle="tab" href="#portfolio" role="tab" aria-controls="portfolio" aria-selected="true">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history" aria-selected="false">History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="finlab-tab" data-toggle="tab" href="#finlab" role="tab" aria-controls="finlab" aria-selected="false">FinLab Report</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <!-- 第一個頁籤 -->
            <div class="tab-pane fade show active" id="portfolio" role="tabpanel" aria-labelledby="portfolio-tab">
                <h3>Current Portfolio</h3>
                {{ df1_html|safe }}
                <h3>Next Portfolio</h3>
                {{ df2_html|safe }}
                <h3>order Status</h3>
                {{ df3_html|safe }}
                <h3>Today's Financial Summary</h3>
                {{ df4_html|safe }}
            </div>

            <!-- 第二個頁籤 -->
            <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
                <h2>History</h2>
                <div id="financialSummaryPlot">
                    {{ plot1_html|safe }}
                </div>
                <div id="monthlyReturnPlot">
                    {{ plot2_html|safe }}
                </div>
            </div>

            <!-- 第三個頁籤 -->
            <div class="tab-pane fade" id="finlab" role="tabpanel" aria-labelledby="finlab-tab">
                <h2>FinLab Backtest Report</h2>
                <iframe src="{{ finlab_report_url }}" width="100%" height="2600px"></iframe>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script> -->
    <script>
    $(document).ready(function() {
        // 初始化 DataTables
        // $('#df1_table').DataTable();
        // $('#df2_table').DataTable();
        // $('#df3_table').DataTable();
        // $('#df4_table').DataTable();
    });
    
    </script>
</body>
</html>
